name: mirror

on:
  push:
    branches: [ main ]
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron: '0 */9 * * *'

jobs:
  mirror:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Free plan limit to 20 concurrent job
        ci_node_total: [20]
        ci_node_index: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '16'

      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.0.2
          run_install: |
            - recursive: true
              args: [--frozen-lockfile, --strict-peer-dependencies]
            - args: [--global, gulp, prettier, typescript]

      - run: pnpm build

      - name: Mirror
        uses: mujo-code/puppeteer-headful@v2
        env:
          WORKER_COUNT: ${{ matrix.ci_node_total }}
          WORKER_INDEX: ${{ matrix.ci_node_index }}
        with:
          args: node dist/index.js

      - name: Zip artifact
        run: zip data-${{ matrix.ci_node_index }}.zip data/*

      - uses: actions/upload-artifact@v2
        with:
          name: artifact-${{ matrix.ci_node_index }}
          path: data-${{ matrix.ci_node_index }}.zip

  push:
    needs: [mirror]
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v2

      - name: unzip artifact
        run: find . -name '*.zip' -exec sh -c 'unzip -d `dirname {}` {}' ';'

      - run: mkdir data
      - run: find . -name '*.json' -exec mv -nt data {} +
  
      - name: Push
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: generated
          FOLDER: data
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MESSAGE: "mirror"

  sirin-deploy:
    name: Deploy Sirin to Cloud Run
    needs: [mirror]
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: asia.gcr.io/${{ secrets.GCP_PROJECT_ID }}/${{ secrets.SIRIN }}

    steps:
    - name: Login
      uses: google-github-actions/setup-gcloud@v0
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}
        service_account_email: ${{ secrets.GCP_EMAIL }}
        service_account_key: ${{ secrets.GCP_CREDENTIALS }}

    - uses: actions/setup-node@v2
      with:
        node-version: '16'

    - name: Configure Docker
      run: gcloud auth configure-docker --quiet

    - name: Install GCP beta component
      run: gcloud components install beta --quiet

    - name: Download artifact
      uses: actions/download-artifact@v2

    - run: npx degit https://github.com/saltyaom/sirin sirin
    - run: mkdir tmp && mkdir data

    - run: ls
    - run: mv artifact-*/*.zip tmp

    - name: unzip artifact
      run: unzip -o '*.zip'
      working-directory: ./tmp

    - run: mv */searchable*.json ../data
      working-directory: ./tmp

    - run: rm -rf tmp
    - run: mv data sirin/data

    - run: rm .gitignore && pwd && ls
      working-directory: ./sirin

    - name: Push
      uses: s0/git-publish-subdir-action@develop
      env:
        REPO: self
        FOLDER: sirin
        BRANCH: sirin
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        MESSAGE: "Cloud Run"

    - name: Build Docker image
      run: docker build -t $IMAGE_NAME .
      working-directory: ./sirin

    - name: Push Docker image
      run: docker push $IMAGE_NAME

    - name: Deploy Docker image
      run: gcloud beta run deploy ${{ secrets.SIRIN }} --image $IMAGE_NAME --region asia-southeast1 --platform managed --port 8080 --concurrency 1000 --min-instances 0 --max-instances 300 --memory 2Gi --timeout 40 --allow-unauthenticated --vpc-egress all-traffic --ingress internal-and-cloud-load-balancing --execution-environment gen2

  akashic-deploy:
    name: Deploy Akashic to Cloud Run
    needs: [mirror]
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: asia.gcr.io/${{ secrets.GCP_PROJECT_ID }}/${{ secrets.AKASHIC }}

    steps:
    - name: Login
      uses: google-github-actions/setup-gcloud@v0
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}
        service_account_email: ${{ secrets.GCP_EMAIL }}
        service_account_key: ${{ secrets.GCP_CREDENTIALS }}

    - uses: actions/setup-node@v2
      with:
        node-version: '16'

    - name: Configure Docker
      run: gcloud auth configure-docker --quiet

    - name: Install GCP beta component
      run: gcloud components install beta --quiet

    - name: Download artifact
      uses: actions/download-artifact@v2

    - run: npx degit https://github.com/saltyaom/akashic akashic
    - run: mkdir tmp && mkdir data

    - run: ls
    - run: mv artifact-*/*.zip tmp

    - name: unzip artifact
      run: unzip -o '*.zip'
      working-directory: ./tmp

    - run: rm -f */searchable*.json
      working-directory: ./tmp

    - run: find . -name '*.json' -exec mv -nt ../data {} +
      working-directory: ./tmp

    - run: rm -rf tmp
    - run: mv data akashic/data

    - run: rm .gitignore && pwd && ls
      working-directory: ./akashic

    - name: Push
      uses: s0/git-publish-subdir-action@develop
      env:
        REPO: self
        FOLDER: akashic
        BRANCH: akashic
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        MESSAGE: "Cloud Run"

    - name: Build Docker image
      run: docker build -t $IMAGE_NAME .
      working-directory: ./akashic

    - name: Push Docker image
      run: docker push $IMAGE_NAME

    - name: Deploy Docker image
      run: gcloud beta run deploy ${{ secrets.AKASHIC }} --image $IMAGE_NAME --region asia-southeast1 --platform managed --port 8080 --concurrency 1000 --min-instances 0 --max-instances 300 --memory 2Gi --timeout 40 --allow-unauthenticated --vpc-egress all-traffic --ingress internal-and-cloud-load-balancing --execution-environment gen2
