name: mirror

on:
  push:
    branches: [ main ]
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron: '0 */6 * * *'

jobs:
  mirror:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Free plan limit to 20 concurrent job
        ci_node_total: [20]
        ci_node_index: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '16'

      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.0.2
          run_install: |
            - recursive: true
              args: [--frozen-lockfile, --strict-peer-dependencies]
            - args: [--global, gulp, prettier, typescript]

      - run: pnpm build
      - run: node dist/index.js
        env:
          # Specifies how many jobs you would like to run in parallel,
          # used for partitioning
          WORKER_COUNT: ${{ matrix.ci_node_total }}
          # Use the index from matrix as an environment variable
          WORKER_INDEX: ${{ matrix.ci_node_index }}

      - name: Zip artifact
        run: zip data-${{ matrix.ci_node_index }}.zip data/*

      - uses: actions/upload-artifact@v2
        with:
          name: artifact-${{ matrix.ci_node_index }}
          path: data-${{ matrix.ci_node_index }}.zip

  push:
    needs: [mirror]
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v2

      - name: unzip artifact
        run: find . -name '*.zip' -exec sh -c 'unzip -d `dirname {}` {}' ';'

      - run: mkdir data
      - run: find . -name '*.json' -exec mv -nt data {} +
  
      - name: Push
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: generated
          FOLDER: data
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MESSAGE: "mirror"
